{% extends 'blog/base.html' %}

{% block titre %}
    <a class="ti">Contact</a>


    
{% endblock %}

{% block main %}
    <p class="contenu">Contactez-Nous<br>

Nous sommes heureux de vous entendre ! Si vous avez des questions, des suggestions ou si vous avez besoin d'assistance, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.
<br>
Coordonnées :
<br>
Adresse : [Votre adresse]<br>
Téléphone : [Votre numéro de téléphone]<br>
Email : [Votre adresse email]<br>
Horaires d'Ouverture :<br>

Lundi à Vendredi : [Heures d'ouverture]<br>
Samedi : [Heures d'ouverture]<br>
Dimanche : Fermé<br>
Nous nous efforçons de répondre à toutes les demandes dans les plus brefs délais. Merci de votre intérêt et à bientôt !</p>


    
{% endblock %}